<!-- UNUSED FILE! -->

<h3>Recent Activity</h3>
<hr>
{% for added_review in added_reviews %} 
  <div>
    <small>
      <a href="{% url 'user-profile' added_review.user.id %}">{{ added_review.user }}</a> 
      {{ added_review.created|timesince }} ago
    </small>
    <br>
    <small>gave a {{ added_review.rating }} rating to</small>
    <a href="{% url 'review' added_review.review.id %}">
      <small>{{ added_review.review.artist }} - {{ added_review.review.album }}:</small>
    </a>
    <p>{{ added_review }}</p>
    {% if request.user == added_review.user %} 
      <a href="{% url 'delete-added-review' added_review.id %}">Delete</a>
    {% endif %} 
    <hr>
  </div>
{% endfor %}