{% extends 'main.html' %} 

{% block content %}

  <style>
    .home-container {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
    }
  </style>

  <div class="home-container">

    <div>
      {% include 'base/list_component.html' %} 
    </div>

    <div>
      <!-- Will this work near the search bar (in `navbar.html`)? (Or to the left of the "Create a Review" button?) -->
      <!-- <h5>{{ reviews_count }} Reviews Created</h5> -->

      <a href="{% url 'create-review' %}">Create a Review</a>

      {% include 'base/feed_component.html' %} 

    </div>

    <!-- ** ADD THE "ABOUT" WINDOW TO THE LEFT COLUMN ** -->
    <!-- ** For your true "Record Review" build: An "About" window, and the "Recent Activity"
            on Your Reviews" will be viewable through `user.is_authenticated`. ** -->
    <!-- <div>
      <div>
        <h3>How Record Review Works</h3>
        <p>
          Craft beer thundercats woke normcore slow-carb schlitz. Messenger bag knausgaard 
          farm-to-table letterpress lo-fi. Meh humblebrag jianbing, stumptown freegan big 
          mood DIY cronut tbh air plant bicycle rights readymade. Kale chips copper mug 
          organic tofu sus hammock fingerstache hexagon salvia readymade 90's williamsburg 
          marfa meditation.
        </p>
      </div> -->

    <div>
      {% include 'base/activity_component.html' %} 
    </div>

    <!-- Ending <div> for the right column -->
    <!-- </div> -->

  </div>

{% endblock %} 