{% extends 'main.html' %} 

{% block content %} 
  <main class="container-fluid overflow-hidden pt-3 pb-5 px-4">
    <div class="row gx-3">
      
      {% include 'base/sidebar_component.html' %} 

      <div class="col-12 col-lg-8">

        <h4 class="text-warning mb-3">Add your own rating below!</h4>

        <div class="card mb-3">
          <div class="card-header py-3">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0 d-none d-md-block">
                <img src="images/#" class="rounded review-img" />
              </div>
              <div class="flex-grow-1 ps-md-3">
                <div class="d-flex justify-content-between album-header">
                  <h5 class="card-title"><a href="#">{{ review.artist }} - {{ review.album }}</a></h5>
                  <p>Avg. Rating: <span class="rating">{{ ratings_avg }}</span></p>
                </div>
                <div class="d-flex justify-content-between user-header">
                  <p class="text-muted">Reviewed by <a href="{% url 'user-profile' review.author.id %}" class="username">{{ review.author }}</a> on {{ review.created|date:"N j, Y" }}</p>
                  <p class="text-muted">User Rating: <span class="added-rating">{{ review.rating }}</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="review-content pb-3">{{ review.content }}</p>
            {% if added_reviews %} 
              <div class="card mb-3 added-review">
                {% for added_review in added_reviews %}
                  <div class="card m-3">
                    <div class="card-header reviewer__header">
                      <div class="d-flex justify-content-between pt-2">
                          <p><a href="{% url 'user-profile' added_review.user.id %}" class="pe-2">{{ added_review.user }}</a> Reviewed {{ added_review.created|timesince }} ago</p> <span>Rating: <span>{{ added_review.rating }}</span>
                      </div>
                      <hr class="pt-0">
                      <p class="mb-2 added-review-content">{{ added_review.body }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %} 
          </div>
          <div class="card-footer py-3">
            <!-- Display form for "rating" and "review" only when user is logged in. -->
            <!-- Otherwise, show buttons(?) for user to "Login" or "Register" if not logged in or registered. -->
            <form method="POST" action="">
              {% csrf_token %} 
              <div class="mb-3">
                <label for="rating">Add your rating for <span>{{ review.artist }} - {{ review.album }}:</span></label>
                <input type="number" id="rating" name="rating" min="0" max="10" value="10" class="ps-1" />
              </div>
              <div class="mb-3">
                <textarea type="text" name="body" placeholder="Add your own review or comment..." class="w-100 ps-1" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-info">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %} 